@model NoteDomain.Model.File

@{
    ViewData["Title"] = "Деталі файлу";
}

<h1>Деталі файлу: @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Createdat)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Createdat)</dd>
        
        <dt class="col-sm-2">Каталог</dt>
        <dd class="col-sm-10">
            <a asp-controller="Folders" asp-action="Details" asp-route-id="@Model.Folder.Id">@Model.Folder.Name</a>
        </dd>
        
        <dt class="col-sm-2">Теги</dt>
        <dd class="col-sm-10">
            @if (Model.Tags != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-secondary">@tag.Name</span>
                }
            }
            else
            {
                <span>Без тегів</span>
            }
        </dd>
    </dl>
    
    <h4>Версії файлу</h4>
    <hr />
    <p>
        <a asp-controller="Fileversions" asp-action="Create" asp-route-fileId="@Model.Id" class="btn btn-sm btn-outline-success">Створити нову версію</a>
    </p>
    @if (Model.Fileversions != null && Model.Fileversions.Any())
    {
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>ID Версії (Назва)</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var version in Model.Fileversions)
                {
                    <tr>
                        <td>
                            <a asp-controller="Fileversions" asp-action="Details" asp-route-id="@version.Id">
                                Версія #@version.Id
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Fileversions" asp-action="Edit" asp-route-id="@version.Id">Редагувати</a> |
                            <a asp-controller="Fileversions" asp-action="Delete" asp-route-id="@version.Id">Видалити</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Для цього файлу ще немає створених версій.</p>
    }
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редагувати файл</a> |
    <a asp-controller="Folders" asp-action="Details" asp-route-id="@Model.Folderid">Повернутися до каталогу</a>
</div>