@model NoteDomain.Model.File

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>File</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Folder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Folder.Name)
        </dd>
        <dt class="col-sm-2">
            Теги
        </dt>
        <dd class="col-sm-10">
            @if (Model.Tags != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-secondary">@tag.Name</span>
                }
            }
            else
            {
                <span>Без тегів</span>
            }
        </dd>
    </dl>
    <h4>Версії файлу</h4>
    <hr />
    @if (Model.Fileversions != null && Model.Fileversions.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Версія / Назва</th>
                    <th>Дія</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var version in Model.Fileversions)
                {
                    <tr>
                        <td>@version.Id</td>
                        <td>
                            <a asp-controller="Fileversions" asp-action="Details" asp-route-id="@version.Id">Деталі версії</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Для цього файлу ще немає створених версій.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
