@model NoteDomain.Model.Fileversion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fileversion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Versionnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Versionnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Changelog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Changelog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.File.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
